* {
  font-family: rubik;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-style: none;
  text-decoration: none;
}

.header {
  background-color: #243A61;
  height: 72px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  color: #FFFFFF;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__btn {
  height: 72px;
  min-width: 80px;
  background-color: #243A61;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}
.header__logo__h1 {
  font-size: 24px;
  font-weight: bold;
}
.header__logo__h1 span {
  color: #0394FF;
}
.header__logo__p {
  font-size: 12px;
  text-align: end;
}
.header__line {
  margin-right: 52px;
  margin-left: 32px;
}
.header__profile {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__profile__img {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
.header__profile__content__h1 {
  font-size: 16px;
  font-weight: 400;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  margin-bottom: 6px;
}
.header__profile__content__p {
  font-size: 12px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.header__profile__btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 27px;
}

.nav {
  background-color: #FFFFFF;
  width: 80px;
  position: fixed;
  top: 72px;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav__ul {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 12px;
}
.nav__li {
  width: 80px;
  height: 56px;
  color: #C1CAD8;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}
.nav__btn {
  cursor: pointer;
  height: 32px;
  width: 64px;
  border: none;
  background: none;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #C1CAD8;
}
.nav__btn--active {
  background-color: #E7EAEF;
  color: #243A61;
}
.nav__p {
  font-size: 12px;
}
.nav__p--active {
  color: #243A61;
}

.titlebar {
  height: 104px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 72px;
  left: 80px;
  right: 0;
  gap: 16px;
  padding-left: 56px;
  padding-right: 54px;
}
.titlebar__btn {
  max-width: 40px;
  min-width: 40px;
  position: relative;
  background-color: #FFFFFF;
  color: #0377FF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.0784313725);
  cursor: pointer;
}
.titlebar__title {
  flex: 1;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  font-size: 20px;
  color: #243A61;
  font-weight: bold;
}
.titlebar__primary {
  font-size: 14px;
  color: #FFFFFF;
  gap: 8px;
  min-width: 276px;
  background-image: linear-gradient(#00B1FF, #0377FF);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.0784313725);
  cursor: pointer;
}

.mydesk {
  position: fixed;
  top: 176px;
  left: 80px;
  right: 0;
  bottom: 0;
  overflow: auto;
  display: grid;
  padding: 0 54px 54px 57px;
  gap: 24px;
}
@media (max-width: 1000px) {
  .mydesk {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1001px) and (max-width: 1450px) {
  .mydesk {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1451px) {
  .mydesk {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.mydesk__card {
  display: flex;
  justify-content: space-between;
  min-height: 180px;
  background-image: linear-gradient(to right, #BFE9B3, #EFF4B2);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.0784313725);
  border-radius: 16px;
}
.mydesk__card__content {
  max-width: 252px;
  padding: 55px 24px 24px;
}
.mydesk__card__content__h1 {
  color: #243A61;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  font-weight: 400;
  font-size: 20px;
  height: 24px;
  margin-bottom: 8px;
}
.mydesk__card__content__p {
  font-size: 14px;
  color: #7486A3;
}
.mydesk__card__img {
  min-height: 180px;
  width: 260px;
  -o-object-fit: contain;
     object-fit: contain;
}

.bookshelf {
  position: fixed;
  top: 176px;
  left: 80px;
  right: 0;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  padding: 0 54px 54px 57px;
  gap: 20px;
}
.bookshelf__left {
  flex: 1;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}
.bookshelf__searchbar {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.0784313725);
  margin-bottom: 16px;
}
.bookshelf__tabbar {
  min-height: 48px;
  display: flex;
  justify-content: start;
}
.bookshelf__tabbar__tab {
  width: 180px;
  font-size: 14px;
  color: #243A61;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.bookshelf__tabbar__tab--active {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px;
  border-style: solid;
  border-color: #243A61;
}
.bookshelf__list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 16px 0;
  gap: 16px;
  list-style: none;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.bookshelf__list::-webkit-scrollbar {
  display: none;
}
.bookshelf__list__item {
  min-height: 128px;
  list-style: none;
  display: none;
  align-items: center;
  gap: 8px;
}
.bookshelf__list__item--active {
  display: flex;
}
.bookshelf__list__header {
  min-height: 40px;
  display: none;
  align-items: center;
  justify-content: start;
  gap: 16px;
}
.bookshelf__list__header--active {
  display: flex;
}
.bookshelf__list__header__h1 {
  font-size: 12px;
  color: #7486A3;
  font-weight: 400;
  flex: 1;
}
.bookshelf__list__header__btn {
  min-width: 24px;
  min-height: 24px;
  margin-right: 16px;
  border: none;
  background: none;
  cursor: pointer;
  color: #7486A3;
}
.bookshelf__checkbox {
  height: 18px;
  width: 18px;
  border-radius: 2px;
  margin: 0 3px;
}
.bookshelf__bookinfo {
  padding: 24px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.0784313725);
  border-radius: 16px;
  height: 128px;
}
.bookshelf__right {
  min-width: 376px;
  background-color: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0px 0px 12px rgba(40, 58, 94, 0.1215686275);
}

.bookdetails {
  justify-content: space-around;
  position: fixed;
  display: flex;
  top: 176px;
  left: 80px;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 0 54px 54px 57px;
  gap: 24px;
}
.bookdetails__left {
  max-width: 1000px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  flex: 1;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 12px rgba(40, 58, 94, 0.1215686275);
  border-radius: 16px;
  padding: 76px 100px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.bookdetails__left::-webkit-scrollbar {
  display: none;
}
.bookdetails__card {
  display: none;
  align-items: center;
  height: 72px;
}
.bookdetails__card__btn {
  font-size: 20px;
  min-height: 24px;
  min-width: 24px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
  margin-right: 32px;
  cursor: pointer;
  color: #7486A3;
}
.bookdetails__card__thumbnail {
  color: #FFFFFF;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-left: 24px;
  margin-right: 16px;
}
.bookdetails__card__thumbnail--yellow {
  background-color: #ffd500;
}
.bookdetails__card__content {
  flex: 1;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
}
.bookdetails__card__content__h1 {
  font-size: 16px;
  color: #243A61;
  font-weight: 400;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.bookdetails__card__content__h2 {
  font-size: 16px;
  color: #7486A3;
  font-weight: 400;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.bookdetails__card__content__p {
  font-size: 12px;
  color: #7486A3;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.bookdetails__card__expandbtn {
  height: 24px;
  display: flex;
  gap: 8px;
  font-size: 16px;
  color: #0394FF;
  background: none;
  border: none;
  justify-content: space-between;
  align-items: center;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  cursor: pointer;
}
.bookdetails__card__header {
  font-size: 12px;
  color: #C1CAD8;
  flex: 1;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.bookdetails__card--active {
  display: flex;
}
.bookdetails__checkbox {
  min-height: 18px;
  min-width: 18px;
  border-radius: 2px;
  margin: 0 3px;
}
.bookdetails__searchbar {
  margin-top: 32px;
  margin-bottom: 16px;
}
.bookdetails__header {
  display: flex;
  align-items: center;
  height: 40px;
  gap: 27px;
}
.bookdetails__right {
  min-width: 376px;
  background-color: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0px 0px 12px rgba(40, 58, 94, 0.1215686275);
}

.searchbar {
  background-color: #FFFFFF;
  width: 100%;
  height: 48px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
  border-color: #C1CAD8;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-inline: 15px;
}
.searchbar__searchicon {
  min-height: 17px;
  min-width: 17px;
  color: #7486A3;
}
.searchbar__searchicon--active {
  display: none;
}
.searchbar__input {
  flex: 1;
  border-radius: 8px;
  border: none;
  height: 46px;
  padding-top: 1px;
  font-size: 16px;
}
.searchbar__input:focus {
  outline: none;
}
.searchbar__input::-moz-placeholder {
  color: #C1CAD8;
  font-size: 16px;
}
.searchbar__input:-ms-input-placeholder {
  color: #C1CAD8;
  font-size: 16px;
}
.searchbar__input::placeholder {
  color: #C1CAD8;
  font-size: 16px;
}
.searchbar__btn {
  color: #7486A3;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
}
.searchbar__btn--active {
  display: none;
}
.searchbar--active {
  border-color: #0394FF;
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
}

.bookinfo {
  background-color: #FFFFFF;
  flex: 1;
}
.bookinfo__tag {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 24px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.bookinfo__tag__left {
  display: flex;
  gap: 16px;
  align-items: center;
}
.bookinfo__tag__right {
  display: flex;
  gap: 16px;
  align-items: center;
}
.bookinfo__tag__subject {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  height: 24px;
  padding: 3px 8px;
}
.bookinfo__tag__subject--science {
  background-color: #ffd500;
}
.bookinfo__tag__subject--math {
  background-color: #ff55aa;
}
.bookinfo__tag__class {
  font-size: 12px;
  color: #7486A3;
}
.bookinfo__tag__btn {
  min-width: 24px;
  height: 24px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 24px;
  color: #0394FF;
  cursor: pointer;
}
.bookinfo__header {
  font-size: 16px;
  color: #243A61;
  font-weight: 400;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  margin-top: 16px;
  margin-bottom: 8px;
}
.bookinfo__info {
  font-size: 12px;
  display: flex;
  gap: 8px;
}
.bookinfo__info__resources {
  color: #7486A3;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.bookinfo__info__devider {
  color: #E7EAEF;
}
.bookinfo__info__lastmodified {
  color: #6D5BCB;
  flex: 1;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.background__top {
  position: fixed;
  height: 104px;
  top: 72px;
  left: 80px;
  right: 0;
  z-index: -10;
}
.background__top--mydesk {
  background-image: linear-gradient(#BFE9B3, #FAFCE6);
}
.background__top--bookshelf {
  background-image: linear-gradient(#BFE9B3, #F7F8FA);
  height: 160px;
}
.background__top--bookdetails {
  background-color: #F7F8FA;
}
.background__bottom {
  position: fixed;
  top: 176px;
  left: 80px;
  bottom: 0;
  right: 0;
  z-index: -10;
}
.background__bottom--mydesk {
  background-color: #FAFCE6;
}
.background__bottom--bookshelf {
  top: 232px;
  background-color: #F7F8FA;
}
.background__bottom--bookdetails {
  background-color: #F7F8FA;
}

.expansion {
  display: none;
  flex-direction: column;
  position: absolute;
  padding: 8px 0;
  top: 30px;
  right: 0;
  background-color: #FFFFFF;
  width: 240px;
  box-shadow: 0px 0px 12px rgba(40, 58, 94, 0.1215686275);
  border-radius: 16px;
}
.expansion--active {
  display: flex;
}
.expansion__element {
  padding-inline: 16px;
  gap: 16px;
  display: flex;
  height: 56px;
  background: none;
  border: none;
  cursor: pointer;
  align-items: center;
}
.expansion__element__icon {
  height: 24px;
  width: 24px;
  color: #0394FF;
}
.expansion__element__icon--delete {
  color: #D12B3D;
}
.expansion__element__name {
  font-size: 16px;
  color: #243A61;
}
.expansion__element__name--delete {
  color: #D12B3D;
}/*# sourceMappingURL=classedge2.css.map */