$cobalt : #243A61;
$green : #BFE9B3;
$lightyellow : #FAFCE6;
$yellow : #EFF4B2;
$lightgrey : #7486A3;
$Rhino: #C1CAD8;
$white: #FFFFFF;
$background_white: #F7F8FA;
$carbon: #7486A3;
$blue: #6D5BCB;
$btnblue: #0394FF;
$smog: #E7EAEF;
$red: #D12B3D;

*:focus {
    outline: none;
}

* {
    font-family: rubik;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    font-style: none;
    text-decoration: none;
}

.header {
    background-color: $cobalt;
    z-index: 0;
    height: 72px;
    position: fixed; 
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    color: $white;

    &__left {
        display: flex;
        align-items: center;
    }

    &__btn {
        height: 72px;
        min-width: 80px;
        background-color: #243A61;
        border: none;
        color: $white;
        cursor: pointer;
    }

    &__logo {

        &__h1 {
            font-size: 24px;
            font-weight: bold;

            span {
                color: #0394FF;
            }
        }

        &__p {
            font-size: 12px;
            text-align: end;
        }
    }

    &__line {
        margin-right: 52px;
        margin-left: 32px;
    }

    &__profile {
        display: flex;
        align-items: center;
        gap: 16px;

        &__img {
            height: 40px;
            width: 40px;
            border-radius: 20px;
        }

        &__content {

            &__h1 {
                font-size: 16px;
                font-weight: 400;
                min-width: max-content;
                margin-bottom: 6px;
            }

            &__p {
                font-size: 12px;
                min-width: max-content;
            } 
        }

        &__btn {
            background: none;
            border: none;
            cursor: pointer;
            color: $white;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-right: 27px;  
    }
}

.nav {
    z-index: 0;
    background-color: $white;
    width: 80px;
    position: fixed;
    top: 72px;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__ul {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        gap: 12px;
    }

    &__li{
        width: 80px;
        height: 56px;
        color: $Rhino;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 4px;
    }

    &__btn {
        cursor: pointer;
        height: 32px;
        width: 64px;
        border: none;
        background: none;
        border-radius: 8px;     
        font-size: 24px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $Rhino;

        &--active {
            background-color: $smog;
            color: $cobalt;
        }
    }

    &__p {
        font-size: 12px;

        &--active {
            color: $cobalt;
        }
    }
}

.titlebar {
    z-index: 1;
    height: 104px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 72px;
    left: 80px;
    right: 0;
    gap: 16px;
    padding-left: 56px;
    padding-right: 54px;

    &__btn {
        max-width: 40px;
        min-width: 40px;
        position: relative;
        background-color: $white;
        color: #0377FF;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        border: none;
        border-radius: 8px;
        box-shadow: 0px 4px 16px #00000014;
        cursor: pointer;
    }

    &__title {
        flex: 1;
        min-width: max-content;
        font-size: 20px;
        color: $cobalt;
        font-weight: bold;
    }

    &__primary {
        font-size: 14px;
        color: $white;
        gap: 8px;
        min-width: 276px;
        background-image: linear-gradient(#00B1FF,#0377FF);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        border: none;
        border-radius: 8px;
        box-shadow: 0px 4px 16px #00000014;
        cursor: pointer;
    }
}

.mydesk {
    z-index: 0;
    position: fixed;
    top: 176px;
    left: 80px;
    right: 0;
    bottom: 0;
    overflow: auto;
    display: grid;
    padding: 0 54px 54px 57px;
    gap: 24px;
    min-width: max-content;

    @media (max-width: 1000px) {
        grid-template-columns: 1fr;
    } 

    @media (min-width: 1001px) and (max-width: 1450px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1451px) {
        grid-template-columns: 1fr 1fr 1fr;
    }    
    
    &__card {
        display: flex;
        justify-content: space-between;
        min-height: 180px;
        background-image: linear-gradient(to right,$green,$yellow);
        box-shadow: 0px 4px 16px #00000014;
        border-radius: 16px;

        &__content {
            max-width: 252px;
            padding: 55px 24px  24px;

            &__h1 {
                color: $cobalt;
                min-width: max-content;
                font-weight: 400;
                font-size: 20px;
                height: 24px;
                margin-bottom: 8px;
            }

            &__p {
                font-size: 14px;
                color: $lightgrey;
            }
        }

        &__img {
            min-height: 180px;
            width: 260px;
            object-fit: contain;
        }
    }
}

.bookshelf {
    z-index: 0;
    position: fixed;
    top: 176px;
    left: 80px;
    right: 0;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    padding: 0 54px 54px 57px;
    gap: 20px;
    min-width: max-content;

    &__left {
        flex: 1;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
    }

    &__searchbar {
        box-shadow: 0px 4px 16px #00000014;
        margin-bottom: 16px;
    }

    &__tabbar {
        min-height: 48px;
        display: flex;
        justify-content: start;

        &__tab {
            width: 180px;
            font-size: 14px;
            color: $cobalt;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &--active {
                border-top: 0;
                border-left: 0;
                border-right: 0;
                border-bottom: 2px;
                border-style: solid;
                border-color: $cobalt;
            }
        }
    }

    &__list {
        overflow: auto;
        display: flex;
        flex-direction: column;
        padding: 16px 0;
        gap: 16px;
        list-style: none;
        height: 100%;

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar{
            display: none;
        }

        &__item {
            min-height: 128px;
            list-style: none;
            display: none;
            align-items: center;
            gap: 8px;

            &--active {
                display: flex;
            }
        }

        &__header{
            min-height: 40px;
            display: none;
            align-items: center;
            justify-content: start;
            gap: 16px;

            &--active{
                display: flex;
            }
        
            &__h1 {
                
                font-size: 12px;
                color: $carbon;
                font-weight: 400;
                flex: 1;
            }

            &__btn {
                min-width: 24px;
                min-height: 24px;
                margin-right: 16px;
                border: none;
                background: none;
                cursor: pointer;
                color: $carbon;
            }
        }
    }

    &__checkbox {
        height: 18px;
        width: 18px;
        border-radius: 2px;
        margin: 0 3px;
    }

    &__bookinfo {
        padding: 24px;
        box-shadow: 0px 4px 16px #00000014;
        border-radius: 16px;
        height: 128px;
    }

    &__right {
        min-width: 376px;
        background-color: $white;
        border-radius: 16px;
        box-shadow: 0px 0px 12px #283A5E1F;
    }
}

.bookdetails {
    z-index: 0;
    min-width: max-content;
    justify-content: space-around;
    position: fixed;
    display: flex;
    top: 176px;
    left: 80px;
    bottom: 0;
    right: 0;
    padding: 0 54px 54px 57px;
    gap: 24px;

    &__left {
        max-width: 1000px;
        min-width: max-content;
        flex: 1;
        background-color: $white;
        box-shadow: 0px 0px 12px #283A5E1F;
        border-radius: 16px;
        padding: 76px 100px;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar{
            display: none;
        }
    }

    &__card {
        display: none;
        align-items: center;
        height: 72px;

        &__btn {
            font-size: 20px;
            min-height: 24px;
            min-width: 24px;
            background: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 24px;
            margin-right: 32px;
            cursor: pointer;
            color: $carbon;
        }

        &__thumbnail {
            color: $white;
            min-height: 40px;
            min-width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            margin-left: 24px;
            margin-right: 16px;

            &--yellow {
                background-color: #ffd500;
            }

            &--grey {
                background-color: $carbon;
            }
        }

        &__content {
            flex: 1;
            height: 40px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 7px;

            &__h1 {
                font-size: 16px;
                color: $cobalt;
                font-weight: 400;
                min-width: max-content;
            }

            &__h2 {
                font-size: 16px;
                color: $carbon;
                font-weight: 400;
                min-width: max-content;
            }

            &__p {
                font-size: 12px;
                color: $carbon;
                min-width: max-content;
            }
        }

        &__expandbtn {
            height: 24px;
            display: flex;
            gap: 8px;
            font-size: 16px;
            color: $btnblue;
            background: none;
            border: none;
            justify-content: space-between;
            align-items: center;
            min-width: max-content;
            cursor: pointer;
        }

        &__header {
            font-size: 12px;
            color: $Rhino;
            flex: 1;
            min-width: max-content;
        }

        &--active {
            display: flex;
        }
    }

    &__checkbox {
        min-height: 18px;
        min-width: 18px;
        border-radius: 2px;
        margin: 0 3px;
    }

    &__searchbar {
        margin-top: 32px;
        margin-bottom: 16px;
    }

    &__header {
        display: flex;
        align-items: center;
        height: 40px;
        gap: 27px;
    }

    &__right {
        min-width: 376px;
        background-color: $white;
        border-radius: 16px;
        box-shadow: 0px 0px 12px #283A5E1F;
    }
}

.searchbar {
    background-color: $white;
    width: 100%;
    height: 48px;
    min-width: max-content;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: $Rhino;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-inline: 15px;

    &__searchicon {
        min-height: 17px;
        min-width: 17px;
        color: $carbon;

        &--active {
            display: none;
        }
    }

    &__input {
        flex: 1;
        border-radius: 8px;
        border: none;
        height: 46px;
        padding-top: 1px;
        font-size: 16px;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $Rhino;
            font-size: 16px;
        }
    }

    &__btn {
        color: $carbon;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;

        &--active {
            display: none;
        }
    } 

    &--active {
        border-color: $btnblue;
        backdrop-filter: blur(32px);
        -webkit-backdrop-filter: blur(32px);
    }
}

.bookinfo {
    background-color: $white;
    flex: 1;

    &__tag {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 24px;
        min-width: max-content;

        &__left {
            display: flex;
            gap: 16px;
            align-items:center;
        }

        &__right {
            display: flex;
            gap: 16px;
            align-items:center;
        }

        &__subject {
            min-width: max-content;
            border-radius: 4px;
            color: white;
            font-size: 14px;
            height: 24px;
            padding:  3px 8px;

            &--science {
                background-color: #ffd500;
            }

            &--math {
                background-color: #ff55aa;
            }
        }

        &__class {
            font-size: 12px;
            color: $carbon;
        }

        &__btn {
            min-width: 24px;
            height: 24px;
            background: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 24px;
            color: $btnblue;
            cursor: pointer;
        }
    }

    &__header {
        font-size: 16px;
        color: $cobalt;
        font-weight: 400;
        min-width: max-content;
        margin-top: 16px;
        margin-bottom: 8px;
    }

    &__info {
        font-size: 12px;
        display: flex;
        gap: 8px;

        &__resources {
            color: $carbon;
            min-width: max-content;
        }

        &__devider {
            color: $smog;
        }

        &__lastmodified {
            color: $blue;
            flex: 1;
            min-width: max-content;
        }
    }

    &__topic {
        font-size: 16px;
        color: $cobalt;
    }
}

.background {
    z-index: -10;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &__top {
        position: fixed;
        height: 104px;
        top: 72px;
        left: 80px;
        right: 0;

        &--mydesk {
            background-image: linear-gradient($green,$lightyellow);
        }

        &--bookshelf {
            background-image: linear-gradient($green,$background_white);
            height: 160px;
        }

        &--bookdetails {
            background-color: $background_white;
        }
    }

    &__bottom {
        position: fixed;
        top: 176px;
        left: 80px;
        bottom: 0;
        right: 0;

        &--mydesk {
            background-color: $lightyellow;
        }

        &--bookshelf {
            top: 232px;
            background-color: $background_white;
        }

        &--bookdetails {
            background-color: $background_white;
        }
    }
}

.expansion {
    display: none;
    flex-direction: column;
    position: absolute;
    padding: 8px 0;
    top: 30px;
    right: 0;
    z-index: 2;
    background-color: $white;
    width: 240px;
    box-shadow: 0px 0px 12px #283A5E1F;
    border-radius: 16px;

    &--active {
        display: flex;
    }
    
    &__element {
        padding-inline: 16px;
        gap: 16px;
        display: flex;
        height: 56px;
        background: none;
        border: none;
        cursor: pointer;
        align-items: center;

        &__icon {
            height: 24px;
            width: 24px;
            color: $btnblue;

            &--delete {
                color: $red;
            }

            &--rhino {
                color: $Rhino;
            }
        }

        &__name {
            font-size: 16px;
            color: $cobalt;

            &--delete {
                color: $red;
            }

            &--rhino {
                color: $Rhino;
            }
        }
    }
}

.bookbuilder {
    justify-content: space-around;
    z-index: 0;
    position: fixed;
    display: flex;
    top: 176px;
    left: 80px;
    bottom: 0;
    right: 0;
    padding: 0 54px 54px 57px;
    gap: 24px;
    min-width: max-content;

    &__left {
        max-width: 1000px;
        flex: 1;
        background-color: $white;
        box-shadow: 0px 0px 12px #283A5E1F;
        border-radius: 16px;
        padding: 76px 100px;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar{
            display: none;
        }
    }

    &__right {
        min-width: 376px;
        background-color: $white;
        border-radius: 16px;
        box-shadow: 0px 0px 12px #283A5E1F;
    }

    &__inputelement {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 40px;

        &__name {
            font-size: 12px;
            color: $carbon;
            min-width: max-content;
        }

        &__bottom {
            height: 48px;
            border-style: solid;
            border-radius: 8px;
            border-width: 1px;
            border-color: $Rhino;
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-width: max-content;
        }

        &__input {
            flex: 1;
            border: none;
            background: none;
            height: 48px;
            padding-top: 1px;
            font-size: 16px;
            padding-inline: 16px;
            cursor: pointer;

            &:focus {
                outline: none;
            } 

            &::placeholder {
                font-size: 16px;
                color: $Rhino;
            }
        }

        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $btnblue;
            border: none;
            background: none;
            width: 24px;
            height: 24px;
            margin: 12px;
            cursor: pointer;
        }
    }

    &__element {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 56px;

        &__h1 {
            font-size: 16px;
            color: $cobalt;
            min-width: max-content;
        }

        &__h2 {
            font-size: 12px;
            color: $carbon;
            min-width: max-content;
            font-weight: 400;
        }

        &__btn {
            height: 24px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
            gap: 8px;
            border: none;
            background: none;
            min-width: max-content;
            cursor: pointer;

            &--carbon {
                color: $carbon;
            }

            &--blue {
                color: $btnblue;
            }
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 24px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

.selectionlist {
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: max-content;
    max-height: 608px;
    overflow-y: auto;
    display: none;
    z-index: 2;
    position: absolute;
    flex-direction: column;
    padding: 8px 16px;
    width: 328px;
    background-color: $white;
    border-radius: 16px;
    box-shadow: 0px 0px 12px #283A5E1F;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar{
        display: none;
    }

    
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 52px;

        &__name {
            font-size: 20px;
            color: $cobalt;
        }

        &__btn {
            color: $cobalt;
            border: none;
            background: none;
            cursor: pointer;
        }
    }

    &__division {
        min-height: 52px;
        display: none;
        align-items: center;
        font-size: 12px;
        color: $carbon;

        &--active {
            display: flex;
        }
    }

    &__item {
        cursor: pointer;
        display: none;
        flex-direction: column;

        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 52px;
            color: $cobalt;
            font-size: 16px;
        }

        &__bottom {
            display: flex;
            align-items: center;
            min-height: 52px;
            gap: 8px;
        }

        &__icon {
            display: none;
            color: $cobalt;
            height: 24px;
            width: 24px;
            font-weight: bold;

            &--active {
                display: flex;
            }
        }

        &--active {
            display: flex;
        }

        &__tag {
            font-size: 12px;
            background-color: $Rhino;
            color: $white;
            padding: 8px;
            border-radius: 4px;
        }
    }

    &__btn {
        cursor: pointer;
        display: none;
        height: 52px;
        font-size: 16px;
        color: $btnblue;
        border: none;
        background: none;

        &--active {
            display: block;
        }
    }

    &--active {
        display: flex;
    }
}

.bookinput {
    //display: none;
    display: none;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-height: min-content;
    z-index: 2;
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 16px;
    width: 328px;
    background-color: $white;
    border-radius: 16px;
    box-shadow: 0px 0px 12px #283A5E1F;
    
    &__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 56px;
        margin-bottom: 32px;

        &__name {
            font-size: 20px;
            color: $cobalt;
        }

        &__btn {
            color: $cobalt;
            border: none;
            background: none;
            cursor: pointer;
        }
    }

    &__label {
        color: $btnblue;
        font-size: 12px;
        flex: 1;
        margin-bottom: 8px;
    }

    &__input {
        width: 100%;
        height: 120px;
        padding: 16px;
        border: 1px solid $btnblue;
        border-radius: 8px;
        margin-bottom: 4px;
        font-size: 16px;
        color: $cobalt;
        resize: none;

        &:focus {
            outline: none;
        }
    }

    &__btn {
        font-size: 14px;
        width: 100%;
        color: $white;
        margin: 16px 0;
        background-image: linear-gradient(#00B1FF,#0377FF);
        height: 40px;
        border: none;
        border-radius: 8px;
        box-shadow: 0px 4px 16px #00000014;
        cursor: pointer;
    }

    &__lettercount {
        font-size: 12px;
        color: $carbon;
        align-self: flex-end;
        padding-inline: 16px;
        margin-bottom: 32px;
    }

    &--active {
        display: flex;
    }
}
